server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/microservices
    username: root
    password: GN2490

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  application:
    name: USERSERVICES

  config:
    import: optional:configserver:http://localhost:8085


#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka


management:
  health:
    circuitbreakers:
      enable: true
  endpoints:
    web:
      exposer:
        include: health
  endpoint:
    health:
      show-details: always

resilience4j:
  circuit breaker:
    instance:
      ratingHotelBreaker:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 6s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED

  retry:
    instance:
      ratingHotelServices:
        max-attempts: 3
        wait-duration: 3s

  ratelimiter:
    instance:
      userRatingLimiter:
        limit-refresh-period: 4s
        limit-for-period: 2
        timeout-duration: 0s

